body {
  font-family: amaranth, serif;
  background-color: #EEE;
}

input {
  padding: 5px;
}

#pane_window {
  display: none;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 18px;
  background-color: #333;
  color: #EEE;
  font-size: 18px;
  padding: 20px;
  z-index: 1;
}

#settings {
  margin-left: 40px;
  background-color: #666;
  padding: 5px;
}

#pane_settings {
  position: fixed;
  top: 60px;
  left: 0px;
  width: 100%;
  background-color: #FFF;
  padding: 20px;
  text-align: center;
}

#options_window {
  position: fixed;
  top: 40%;
  left: 0px;
  width: 100%;
  text-align: center;
}

#pane_list {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #FFF;
  padding: 20px;
  text-align: center;
  top: 85%;
}

#preview {
  z-index: 2000;
  height: 18px;
  position: fixed;
  top: 14px;
  right: 10px;
}

.pane {
  position: fixed;
  background-color: #40744b;
  border: 1px solid #DDD;
  box-shadow: -4px 4px 7px #DDD, 4px 4px 7px #DDD;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.pane:hover {
  box-shadow: -7px 7px 10px #AAA, 7px 7px 10px #AAA;
}

.pane.center {
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
}

.pane.left {
  top: 42%;
  left: 2%;
  right: 82%;
  bottom: 42%;
}

.pane.offleft {
  left: -110%;
  right: 110%;
}

.pane.right {
  top: 42%;
  left: 82%;
  right: 2%;
  bottom: 42%;
}

.pane.offright {
  left: 110%;
  right: -110%;
}

.pane.left.preview {
  top: 0%;
  left: -100%;
  bottom: 0%;
  right: 100%;
  z-index: 2;
  box-shadow: 0px 0px 0px #AAA, 0px 0px 0px #AAA;
}

.pane.right.preview {
  top: 0%;
  left: 100%;
  bottom: 0%;
  right: -100%;
  z-index: 2;
  box-shadow: 0px 0px 0px #AAA, 0px 0px 0px #AAA;
}

.pane.center.preview {
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  box-shadow: 0px 0px 0px #AAA, 0px 0px 0px #AAA;
}

.pane.preview:hover {
  box-shadow: 0px 0px 0px #AAA, 0px 0px 0px #AAA;
}

.pane.new {
  background: url('../images/plus.png') 50% 50%;
  background-repeat: no-repeat;
}

.preview-pane {
  position: fixed;
  left: 90%;
}

.nav {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 33px;
  opacity: 0.2;
  -webkit-transition: opacity 0.5s;
  z-index: 1000;
}

.nav:hover {
  opacity: 0.4;
}

.nav:active {
  opacity: 0.6;
}

.nav.left {
  left: 0px;
  background: url('../images/left.png') 50% 50%;
  background-repeat: no-repeat;
}

.nav.right {
  right: 0px;
  background: url('../images/right.png') 50% 50%;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

.elem {
}

.elem.current {
  z-index: 1000;
}

.rectangle {
  position: absolute;
  height: 10%;
  width: 5%;
  background-color: #FFF;
}

#elem-settings {
  background-color: #333;
  color: #CCC;
  padding: 10px;
  position: absolute;
  left: 100%;
  top: 0px;
  display: none;
  z-index: 2000;
  margin-left: 20px;
  opacity: 1.0;
}

.tool {
  padding: 5px;
  background-color: #FFF;
  border: 1px solid #666;
  border-radius: 5px;
}

.tool.selected {
  background-color: #EEE;
}

.option {
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  background-color: #00B060;
  width: 150px;
  margin: 30px;
  font-size: 24px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.option:hover {
  background-color: #61D8A2;
}

#elem-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: none;
  z-index: -1;
  box-shadow: -2px 2px 4px #999, 2px 2px 4px #999;
}
